

<!-- <label>Sort by:</label>
<select ng-model="orderProp">
  <option value="title">Alphabetical</option>
  <option value="-views" selected="selected">Views</option>
</select>
 -->

<ul >
	<li ng-repeat="post in posts | filter:query | orderBy:orderProp">
	  <a href="/posts/{{ post.id }}" ><img src="{{post.thumbnail_url}}" class="pull-left" height="100" width="100px" style="padding-right:20px;" /></a>
	  <h2><%= link_to "{{post.title}}", "/posts/{{ post.id }}" %></h2>
	  <p>{{ post.description }}</p>
	  <span class="label label-warning">
	  	<i class="icon-white icon-arrow-down"></i> 
	  	{{post.views}}
	  </span>
	  <span class="label label-info">
	  	<i class="icon-white icon-eye-open"></i>
	  	{{post.total}}
	  </span>
	  <span class="label label-success">
	  	<i class="icon-white icon-arrow-up"></i>
	  	{{post.increases}}
	  </span>

	  	<hr/>	
	</li>

</ul>


