	  <span class="label label-warning" id="views"><i class="icon-white icon-arrow-down"></i> <%= @post.views %></span>
	  <span class="label label-info"><i class="icon-white icon-eye-open"></i> <%= @post.total %></span>
	  <span class="label label-success"><i class="icon-white icon-arrow-up"></i> <%= @post.increases %></span>
	  <span class="label label-twitter"><i class="icon-white icon-twitter"></i> <%= @post.tweets %></span>
